{% extends 'base.html' %}

{% block head %}
    <title>HLS Player Control with Sync</title>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
{% endblock %}

{% block content %}

<div id="Room">
    <!-- <div id="player" style="display: none;">
        <h1>HLS Player Control with Flask and SocketIO</h1>
        <video id="videoPlayer" width="800" height="450" controls></video>
        <p id="test">Hello</p>
    </div> -->
    <p>If the video keeps skipping, that means its not in sync. pause for 2 seconds and play again.</p>


    <div class="p-3">
        <div class="row" id="video-chat-container">

            <!-- Video Player Section -->
            <div class="col-7 col-md-9 mb-lg-0 mb-3">
                <div class="position-relative">
                    <div class="ratio ratio-16x9">
                        <video id="videoPlayer" class="rounded rounded-3 bg-dark"
                               autoplay playsinline muted>
                        </video>
                        <input type="hidden" value="https://www111.anzeat.pro/streamhls/0789fd4f049c3ca2a49b860ea5d1f456/ep.1.1709225406.360.m3u8" id="link">
                    </div>

                      <!-- Sync overlay -->
                    <div id="sync-overlay">
                        <h2>Please wait, syncing</h2>
                    </div>

                    <!-- Top Overlay -->
                    <div id="top-overlay" class="w-100 p-2 d-flex align-items-center justify-content-between">
                        <div>
                            <span id="online-indicator" class="badge bg-danger text-white"></span>
                        </div>
                        <div>
                            <i id="fullscreen-toggle-btn" role="button" class="bi bi-fullscreen text-white text-outline"></i>
                            <!-- <button id="chat-toggle-btn" role="button" class="bi bi-chat text-white text-outline" style="margin-left: 10px;"></button> -->
                            <i id="chat-toggle-btn" role="button" class="bi bi-chat text-white text-outline" style="margin-left: 10px;"></i>
                        </div>
                    </div>


                    <div id="bottom-overlay" class="w-100 p-2 d-flex align-items-center justify-content-between">
                        <div class="me-1">
                            <button id="play-btn" class="btn btn-sm btn-outline-dark">
                                <i id="play-btn-icon" role="button" class="bi bi-pause"></i>
                            </button>
                            <button id="backward-btn" class="btn btn-sm btn-outline-dark">
                                <i class="bi bi-skip-backward"></i> <!-- Backward Icon -->
                            </button>
                            <button id="forward-btn" class="btn btn-sm btn-outline-dark">
                                <i class="bi bi-skip-forward"></i> <!-- Forward Icon -->
                            </button>
                        </div>
                        <div class="flex-grow-1 mx-3 position-relative"> <!-- Added position-relative for absolute positioning -->
                            <input
                                type="range"
                                id="seek-bar"
                                class="form-range"
                                min="0"
                                value="0"
                                step="0.1"
                                aria-label="Seek Bar"
                            />
                        </div>
                        <div>
                            <span id="current-timestamp" class="text-white small">00:00</span> <!-- Added timestamp area -->
                            <button id="mute-btn" class="btn btn-sm btn-outline-dark">
                                <i id="mute-btn-icon" role="button" class="bi bi-volume-down-fill"></i>
                            </button>
                            <input id="volume-slider" type="range" min="0" max="1" step="0.1" class="form-range" style="display: none;">

                            <!-- Resolution Dropdown Button -->
                            <div class="btn-group">
                                <button class="btn btn-sm btn-outline-dark dropdown-toggle" type="button" id="resolutionDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Res
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="resolutionDropdown">
                                    <li><a class="dropdown-item" href="#">360p</a></li>
                                    <li><a class="dropdown-item" href="#">480p</a></li>
                                    <li><a class="dropdown-item" href="#">720p</a></li>
                                    <li><a class="dropdown-item" href="#">1080p</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    
                </div>

                
            </div>

 
            <!-- Chat Section -->
            <div id="chat-container0" class="col-5 col-md-3 mb-lg-0 mb-3">
                <div id="chat-container" class="vstack">
                    <div id="chat" class="rounded border border-secondary flex-grow-1 mb-3 p-3"></div>
                    <div id="chat-input-container" class="flex-grow input-group">
                        <input id="chat-input" class="form-control" placeholder="Message" maxlength="500" type="text" />
                        <button type="button" id="submit-chat" class="btn btn-outline-secondary">Send</button>
                    </div>
                </div>
            </div>
    

        </div>
    </div>





    <input type="hidden" value="{{room_code}}" id="room_code">
    <input type="hidden" value="{{availableResolutions}}" id="res">
    <input type="hidden" value="{{Res}}" id="res_current">
    <input type="hidden" value="{{urll}}" id="videoSrcInput">
    <input type="hidden" value="{{Moov}}" id="isMovie">
    <input type="hidden" value="{{mov_id}}" id="moviee_id">

    <!-- <div id="chat">
        <div id="chat-messages"></div>
        <input type="text" id="chat-input" placeholder="Type a message..." autocomplete="off">
        <button id="send-btn">Send</button>
    </div> -->
    <!-- <div id="chat-container">
        <div id="chat-header">Chat</div>
        <div id="chat-messages"></div>
        <div id="chat-input-area">
            <input type="text" id="chat-input" placeholder="Type your message">
            <button id="send-btn">Send</button>
        </div>
    </div> -->

    
    
    <audio id="message-sound" src="{{ url_for('static', filename='audio/notification.mp3') }}" preload="auto"></audio>

    <!-- Episode List -->
    <div id="anime_content">
        <h2>Episodes:</h2>
        <ul id="episode-list">
            {% for episode in episodes %}
            <li>
                <button onclick="switchEpisode('{{ episode.id }}')">
                    Episode {{ episode.number }}
                </button>
            </li>
            {% endfor %}
        </ul>

        <h2>Resolutions:</h2>
        <ul id="resolution-list">
            {% for source in availableResolutions2 %}
            <li>
                <button onclick="changeResolution('{{ source }}')">
                    {{source}}
                </button>
            </li>
            {% endfor %}
        </ul>
    </div>


    <div id="contentt" style="display: none">
        <p>Movie section</p>
        <div id="season-selector">
            {% if seasons %}
                {% for season in seasons %}
                    <div>
                        <button onclick="selectSeason({{ season.season_number }}, {{ season.episode_count }})">
                            Select Season {{ season.season_number }} ( {{ season.episode_count }} )
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    
        <div id="episode-selector" style="display: none;">
            <h3>Select an Episode:</h3>
            <select id="episode-dropdown" onchange="episodeSelected()">
                <option value="">Select an Episode</option>
            </select>
        </div>
    
    </div>


    <!-- <div id="resolution-buttons" style="margin: 10px 0;">
        <button onclick="changeResolution('720p')">720p</button>
        <button onclick="changeResolution('480p')">480p</button>
        <button onclick="changeResolution('360p')">360p</button>
    </div> -->
</div>

<script src="/static/js/scripts.js"></script>

<script>
let selectedSeason = null;
function selectSeason(seasonNumber, episodeCount) {
            // Show the episode selector
            const episodeSelector = document.getElementById('episode-selector');
            const episodeDropdown = document.getElementById('episode-dropdown');
            
            // Clear previous options
            episodeDropdown.innerHTML = '';
            selectedSeason = seasonNumber;  // Store the selected season

            const option = document.createElement('option');
            option.textContent = 'select:';
            episodeDropdown.appendChild(option);

            // Populate dropdown with episode options
            for (let i = 1; i <= episodeCount; i++) {
                const option = document.createElement('option');
                option.value = i;
                option.textContent = 'Episode ' + i;
                episodeDropdown.appendChild(option);
            }

            // Show the dropdown
            episodeSelector.style.display = 'block';
    }


// function episodeSelected() {
//     let videoElement = document.getElementById('videoPlayer');
//     const episodeDropdown = document.getElementById('episode-dropdown');
//     let Idd = document.getElementById('moviee_id').value; // Get the movie ID value
//     const selectedEpisode = episodeDropdown.value; // Get the selected episode
//     let room_code = document.getElementById("room_code").value;

//     const url = `https://vidsrc-woad.vercel.app/vidlink/watch?id=${Idd}&isMovie=false&season=${selectedSeason}&episode=${selectedEpisode}`;
//     console.log(url)

//     // Fetch the data without error handling
//     fetch(url)
//         .then(response => response.json())
//         .then(data => {
//             const m3u8Link = data.stream.playlist
//             // console.log(m3u8Link)
//             loadVideo(m3u8Link, videoElement); // Assuming loadVideo is defined elsewhere
//             socket.emit('epi_set', {urlll: m3u8Link, room_code: room_code});
//             videoElement.pause();
            
//         });
// }


function episodeSelected() {
    let videoElement = document.getElementById('videoPlayer');
    const episodeDropdown = document.getElementById('episode-dropdown');
    let Idd = document.getElementById('moviee_id').value; // Get the movie ID value
    const selectedEpisode = episodeDropdown.value; // Get the selected episode
    let room_code = document.getElementById("room_code").value;
    // let selectedSeason = document.getElementById('season-dropdown').value; // Assuming you have a dropdown for seasons

    // Call the Flask API instead of the previous URL
    const url = `/main?id=${Idd}&type=tv&season=${selectedSeason}&episode=${selectedEpisode}`;
    console.log(url);

    // Fetch the data from the Flask endpoint
    fetch(url)
        .then(response => {
            // Check if the response is OK
            if (!response.ok) {
                throw new Error('Network response was not ok ' + response.statusText);
            }
            return response.json();
        })
        .then(data => {
            const m3u8Link = data; // Assuming data.src.video holds the m3u8 link
            console.log(m3u8Link)
            loadVideo(m3u8Link, videoElement); // Assuming loadVideo is defined elsewhere
            socket.emit('epi_set', {urlll: m3u8Link, room_code: room_code});
            videoElement.pause();
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });
}






// Function to switch episode
function switchEpisode(episodeId) {
    // Emit a socket event to switch the video source
    var q = document.getElementById('res_current').value;
    var link;
    videoElement = document.getElementById('videoPlayer');
    // console.log(res_current)
    console.log('nig balls')
    var room_code = document.getElementById("room_code").value;
    // socket.emit('switch_episode', { episode_id: episodeId, room_code: room_code, res_current:res_current });

    fetch(`https://consume2.vercel.app/anime/gogoanime/watch/${episodeId}`)
    .then(response => response.json())
    .then(episodeData => {
        var sources = episodeData.sources;
        
        var source720p = sources.find(source => source.quality === q);
        // console.log(source720p.url)
        if (source720p) {
            link = source720p.url
            loadVideo(source720p.url, videoElement);
            // videoPlayer.src = source720p.url;
            // videoPlayer.load();
            socket.emit('epi_set', {urlll: link, room_code: room_code});
        }
    })
    .catch(error => console.error('Error fetching episode:', error));


    
}


function changeResolution(resolution) {
    var room_code8 = document.getElementById("room_code").value;
    var videoElement5 = document.getElementById('videoPlayer');
    var time = videoElement5.currentTime;
    var availableResolutionsStr = document.getElementById("res").value;
    var availableResolutions = JSON.parse(availableResolutionsStr);
    console.log(availableResolutions)
    var link = availableResolutions[resolution]
    console.log(link)
    if (availableResolutions[resolution]) {
        loadVideo(availableResolutions[resolution], videoElement5);
        videoElement5.currentTime = time;
        // videoElement5.play()
        socket.emit('epi_set', {urlll: link, room_code: room_code8});
    } else {
        console.error('Resolution not available:', resolution);
    }
}

function loadVideo(src, videoElement) {
    console.log(src)
    if (Hls.isSupported()) {
        var hls = new Hls();
        hls.loadSource(src);
        hls.attachMedia(videoElement);
    } else if (videoElement.canPlayType('application/vnd.apple.mpegurl')) {
        videoElement.src = src;
    }
}
</script>

{% endblock %}
